css
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0d7d7;
}

header {
    background-color: #fdfdfd;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav a {
    color: rgb(231, 11, 11);
    text-decoration: none;
}

main {
    padding: 20px;
}

main h1 {
    margin-top: 0;
}

main form {
    margin-top: 20px;
}

main form input[type="text"],
main form input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

main form button[type="submit"] {
    background-color: #f0d7d7;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.footer{
    text-align: justify;
    font-size: 14px;
    padding-bottom: 20%;

 }
 .footer h3{
    color: #fff;
    margin-bottom: 20px;

 }
 .footer-col-1, .footer-col-2,.footer-col-3{
    min-width:250px ;
    margin-bottom: 20px;
 }
 .footer-col-1{
    flex-basis: 30%;
 }
 .footer-col-2{
    flex:1;
    text-align: center;
 }