body {
    font-family: Arial, sans-serif;
    background-color: #f4b3b3;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    color: #333;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-bottom: 5px;
    color: #666;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  input[type="submit"] {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #4cae4c;
  }
  .login-link {
    text-align: center;
    margin-top: 15px;
  }
  .login-link a {
    color: #5cb85c;
    text-decoration: none;
  }

.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}
nav{
   flex:1;
   text-align: right;  
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right:20px ;
}